.modal {
    border: 1px solid black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(217, 200, 189, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    width: 75vw;
    background-color: #fff;
    border-radius: 2vw;
}

.modalHeader, .modalFooter {
    padding: 2vw;
}

.modalTitle {
    margin: 0;
	font-family: 'Baloo 2';
	font-size: 4vw;
}

.modalBody {
    padding: 10px;
    border-top: 1px solid rgb(174, 174, 174);
    border-bottom: 1px solid rgb(174, 174, 174);
}

.settingsText {
	font-family: 'Baloo 2';
	font-size: 2vw;
}

.btn {
  border: 2px solid rgba(33.56%,43.00%,52.11%,1.000);
  border-radius: 0.6em;
  color: rgba(33.56%,43.00%,52.11%,1.000);
  cursor: pointer;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 1;
  margin: 1vw;
  padding: 0.6em 1.4em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: rgb(235,229,225);
  outline: 0;
}

.addTask {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}