/* Colors from https://lunaria.design/ */

html, body {
  min-height: 100vh;
  background-color: rgb(235,229,225);
  display: table-cell;
  width: 100vw;
  /* max-width: 500px; */
  height: 100vh;
  vertical-align: middle;
  text-align: center;
}

div {
  text-align: center;
  position: relative;
}

input {
  border: 1px solid black;
  border-radius: 5px;
}
